{
  "extends": "airbnb",
  "env": {
    "node": true,
    "jest": true
  },
  "rules": {
    "linebreak-style": ["error", "windows"],
    "semi": ["off"],
    "comma-dangle": ["off"],
    "prefer-destructuring": ["off"],
    "no-restricted-syntax": ["off"],
    "no-console": ["off"],
    "import/no-extraneous-dependencies": ["off"],
    "operator-linebreak": ["off"],
    "no-param-reassign": ["off"]
  }
}